/*
TITLE: looping.css
AUTHOR: Andy Jang (ASJ)
CREATE DATE: 11 October 2022
PURPOSE: To style looping.html
LAST MODIFIED ON: 11 October 2022
LAST MODIFIED BY: Andy Jang (ASJ)
MODIFICATION HISTORY:
11 October 2022: Initial commit
*/

body {
	background-color: #A66CFF;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

h1 {
  color: orange;
}

h2 {
  color: blue;
}

p {
  color: white;
}