/*
TITLE: conversions.css
AUTHOR: Andy Jang (ASJ)
CREATE DATE: 10 September 2022
PURPOSE: To style the conversions.html file
LAST MODIFIED ON: 10 September 2022
LAST MODIFIED BY: Andy Jang (ASJ)
MODIFICATION HISTORY:
10 September 2022: Initial creation
*/

body {
	background-color: #A66CFF;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
