/*
TITLE: gallery.css
AUTHOR: Andy Jang (ASJ)
CREATE DATE: 11/17/22
PURPOSE: To style and format imgs on gallery.html
MODIFICATION HISTORY:
11/17/22 Initial commit
*/

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  justify-content: center;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

img {
  width:  500px;
  height: 500px;
  object-fit: cover;
}
